.wrapper{width:50%;margin:0 auto}
.form-fields, .reponse-section {margin:10px}
.form-button{margin:0 10px}
textarea{width:100%;padding:10px;border-radius:4px;font-size:14px}
label{font-weight:700;font-family:Arial,Helvetica,sans-serif;font-size:18px}

/* Bootstrap Style */
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor:pointer}
.btn-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d;box-shadow:none}
.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;box-shadow:none}
.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}
.btn-secondary:hover{color:#fff;background-color:#5a6268;border-color:#545b62}
a{color:#007bff;text-decoration:none;background-color:transparent;font-size:18px}
.text-danger{color:#f98792 !important;}
.text-success{color:#4bc267 !important;}
.bg-danger{background-color:#f98792 !important;}
.bg-success{background-color:#4bc267 !important;}


.bg-gray {background-color:#e8e8e8 !important;}

.request-details {margin: 10px 0;border: 1px solid #007bff;padding: 15px;}
.request-method {display:inline-block;width:8%;}
.request-url {display:inline-block;width:78%;}
.request-status {display:inline-block;width:10%;text-align:right;}
.font-custom {font-family: Verdana, 'Courier New', Courier, monospace;}