.wrapper{width:50%;margin:0 auto}
.form-fields{margin:10px}
.form-button{margin:0 10px}
textarea{width:100%;padding:10px;border-radius:4px;font-size:14px}
label{font-weight:700;font-family:Arial,Helvetica,sans-serif;font-size:18px}

/* Bootstrap Style */
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor:pointer}
.btn-secondary{color:#fff;background-color:#6c757d;border-color:#6c757d;box-shadow:none}
.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;box-shadow:none}
.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}
.btn-secondary:hover{color:#fff;background-color:#5a6268;border-color:#545b62}
a{color:#007bff;text-decoration:none;background-color:transparent;font-size:18px}
